body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffff;
}

header {
    text-align: center;
    padding: 100px;
    background: url('img/capae.png') no-repeat center center/cover;
}
header h1{
    font-family:monospace;
    font-size: 30px;
    color:#0e2f77;
    margin-top: 20px;
     margin-bottom: 5px;
}

header h2{
    font-size: 150px;
    margin-top: 0px;
    font-family:'Source Code Pro';
    color:#1c346d;
}
header p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    font-size: 20px;
}
#Atividades\ Desenvolvidas h2{
margin-left: 20px;
font-size: 30px;
text-align: center;  
}

section ul {
display: flex;
gap:80px;
padding: 0;
list-style: none;

}
section li{
    display: inline-block;
    margin-right: 40px;
}
section li{
 display: inline-block;
    padding: 12px 24px;
    color: white;
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out; 
    position: relative;
    overflow: hidden;
}
section li:hover{
transform: scale(1.1); 
}
.slider-container {
  position: relative;
  max-width: 900px;
  margin: 60px auto;
  overflow: hidden;
  min-height: 630px;
  border-radius: 16px;
}

.slider-container {
  max-width: 1100px;   /* deixa mais largo */
  min-height: 700px;   /* deixa mais alto */
}

.slider {
  display: flex;
  transition: transform 0.7s ease; /* animação suave */
  width: 100%;
}

.slide {
  min-width: 100%;
  border-radius: 12px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 28px;
  border-radius: 50%;
  z-index: 10;
  transition: 0.3s;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 20px;   /* botão da esquerda */
}

.next {
  right: 20px;  /* botão da direita */
}
