body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #fff;
}

 .back-button {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 40px;
      text-decoration: none;
      color: rgb(54, 89, 212);
      border-radius: 20px;
      cursor: pointer;
  }

  .back-button:hover {
      color: #ea2ba1;
  }

  header {
      position: relative;
      padding: 20px;
      text-align: center;
  }

header {
  text-align: center;
  padding: 100px;
  background: url('img/lingua.png') no-repeat center center/cover;
}

header h1 {
  font-family: monospace;
  font-size: 30px;
  color: #085db8;
  margin-top: 20px;
  margin-bottom: 5px;
}

header h2 {
  font-size: 150px;
  margin-top: 0;
  font-family: 'Source Code Pro';
  color: #085db8;
}

.slider-container {
  position: relative;
  max-width: 900px;
  margin: 60px auto;
  overflow: hidden;
  min-height: 500px;
  border-radius: 16px;
 transition: all 0.3s ease-in-out;
}
.slider-container:hover {
transform: scale(1.1);
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: none;
  border-radius: 12px;

}

.slide.active {
  display: block;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

hr{
    border: none;
    height: 0.5px; 
    background-color: rgb(65, 65, 65); 
    margin: 25px 0; 
    width: 100%;
}